
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-height: 450px;
  margin: auto;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}


.card:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

p {
  text-overflow: ellipsis;
}

span, p {
  margin:10px;
}

section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding: 10px;
  margin-top: 80px;
}
